# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Build output
dist/
build/

# Temporary files
*.log

# VS Code settings
.vscode/
